<p>
  Hi, Rails app is running successfully. <i>feature</i> branch<br>
	CUSTOM ENV VARIABLE: <%= ENV["RABBIT_NAME"] %>
	<br>
	AWS Infrastructure for this app is spin using terraform, docker and Github actions....<br><br>

  We are on <b>feature</b>> branch

</p>
<%= link_to "Notes (#{Note.count})", notes_path %>
