<p>
	Hi, Rails app is running successfully <br>
	CUSTOM ENV VARIABLE: <%= ENV["RABBIT_NAME"] %>
	<br>
	AWS Infrastructure for this app is spin using terraform, docker and Github actions....<br><br>

	We are on feature branch

</p>
<%= link_to "Notes", notes_path %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%= link_to "Set tasks count", new_tasks_count_path %>